<li class="mb-4">
    {% if showQuestion|default(false) %}
        <a href="{{ path('app_question_show', {slug: answer.question.slug}) }}">{{ answer.question }}</a>
    {% endif %}
    <div class="d-flex justify-content-center">
        <div class="mr-2 pt-2">
            <img src="{{ asset('images/tisha.png') }}" width="50" height="50" alt="Tisha avatar">
        </div>
        <div class="mr-3 pt-2">
            {{ answer.content|parse_markdown }}
            <p>-- {{ answer.username }}</p>
        </div>
        <small>{{ answer.createdAt|ago }}</small>
        <div
                {{ stimulus_controller('answer-vote', {apiUrl: path('app_answer_vote', {id: answer.id})})}}
                class="vote-arrows flex-fill pt-2 js-vote-arrows" style="min-width: 90px;"
        >
            <button
                    class="vote-up btn btn-link"
                    name="direction" value="up"
                    {{ stimulus_action('answer-vote', 'vote') }}
            ><i class="far fa-arrow-alt-circle-up"></i></button>
            <button class="vote-down btn btn-link" name="direction" value="down"><i class="far fa-arrow-alt-circle-down"></i></button>
            <span>+ <span class="js-vote-total">{{ answer.votes }}</span></span>
        </div>
    </div>
</li>